[user]
    name = Daniel Wakefield
    email = danw@resi.co.uk
[hub]
    protocol = https
[credential]
    helper = osxkeychain
[core]
    excludesFile = ~/.gitignore
    ; pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    pr = pull-request
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color]
    ui = 1
[branch]
    sort=committerdate  # ASC
[diff]
    noprefix = true
    algorithm = histogram
[init]
    defaultBranch = main
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[push]
	autoSetupRemote = true
[rebase]
	updateRefs = true
