[user]
    name = Daniel Wakefield
    email = danw@resi.co.uk
[hub]
    protocol = https
[credential]
    helper = osxkeychain
[core]
    excludesFile = ~/.gitignore
    ; pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    pr = pull-request
    # ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
    recentb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author\\n\" && cat) | column -ts'|';}; r"
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color]
    ui = 1
[branch]
    sort=committerdate  # ASC
[diff]
    noprefix = true
    algorithm = histogram
[init]
    defaultBranch = main
[url "ssh://git@github.com"]
    insteadOf = https://github.com
[push]
    autoSetupRemote = true
[rebase]
    updateRefs = true
    autosquash = true
[merge]
    conflictstyle = zdiff3
